# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.idea

# testing
/coverage

# production
/build
/dist
/src/pre-start/env/development.env
/src/pre-start/env/production.env

# misc
env/development.env
env/production.env
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
jet-logger.log
package-lock.json

.scannerwork

migrations/