## Environment ##
NODE_ENV=development


## Setup jet-logger ##
JET_LOGGER_MODE=CONSOLE
JET_LOGGER_FILEPATH=jet-logger.log
JET_LOGGER_TIMESTAMP=TRUE
JET_LOGGER_FORMAT=LINE

## Mailer SMTP ##
SMTP_FROM=admin@example.com
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=ssssss@ethereal.email 
SMTP_PASS=xxxxxxxx

## JWT Secret ##
JWT_TOKEN=This is JWT token